


.flex-container{
    background-color: purple;
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.flex-item{
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 2px;
    
}